.modal {
  max-height: 100%;
  overflow-x: auto;
  &-wrap {
    padding: 0 20px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;


    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
  }

  width: 100%;
  max-width: 1200px;
  padding: 60px;
  background: white;
  border-radius: 10px;
  position: relative;

  @media (max-width: 425px) {
    padding: 60px 30px;
  }

  &__close {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
}
