.square-down-icon {
  width: 15px;
  filter: invert(1) sepia(1) saturate(100) hue-rotate(315deg);
}

.edit-icon {
  width: 15px;
  filter: invert(1) sepia(1) saturate(100) hue-rotate(100deg);
}

.minus-icon {
  width: 15px;
  filter: invert(1) sepia(1) saturate(100) hue-rotate(230deg);
}

.star-icon {
  width: 20px;
  filter: invert(1) sepia(1) saturate(100) hue-rotate(315deg);
}

.un-star-icon {
  width: 20px;
}