.Prof-BlueLight-Div {
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  width: 1447px;
  height: 53px;
}

.FAQ-Button {
  background: #2DCCD3 0% 0% no-repeat padding-box;
  border-radius: 6px 0px 0px 6px;
  max-width: 53px;
  height: 53px;
}

.Answer-Text {
  font-size: 0.875rem;
  padding-left: 10%;
}

.FAQMargin {
  margin-top: 10px;
}
