@import '~/assets/scss/_auth.scss';

.reset {
	padding-top: 100px;

	@media (max-width: 768px) {
		padding-top: 40px;
	}

	.row {
		display: flex;
		justify-content: center;
	}

	.form {
		padding: 93px 127px 45px 127px;
		background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
		box-shadow: -15px 40px 90px rgba(8, 34, 35, 0.18);
		border-radius: 5px;
		max-width: 567px;

		@media (max-width: 768px) {
			padding: 60px 40px;
		}

		@media (max-width: 425px) {
			padding: 40px 20px;
		}

		.input-row {
			flex-direction: column;
		}

		&__title {
			margin-bottom: 60px;
			@media (max-width: 425px) {
				margin-bottom: 20px;
			}
		}
	}

	&--step2 {
		.form__title, .form__subtitle {
			text-align: center;
			margin-bottom: 35px;
		}

		.submit {
			margin-top: 0;
		}
	}
}