// colors
$main-light: #2dccd3;
$main-dark: #052b43;
$background: #f8f9fb;
$stroke: #e5e5e5;
$stroke2: #EAEAEA;
$LandingParagraph: #596372;
$LandingSubstrate: #F8F9F9;
$grey: #596372;
$green: #27ae60;
$red: #eb5757;
$black: #1F2D3D;
$orange: #F2994A;
$white: #ffffff;

// buttons colors
$main-btn-color: #2dccd3;
$main-btn-color-hover: #27B4BD;

//fonts
$Roboto: 'Roboto', sans-serif;

$gradient: linear-gradient(92.32deg, #2DCCD3 -44.63%, #1494BC 138.12%);


// Color system
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9edf3;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #747a80;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #222a3e;
$black:    #000;


$box-shadow-sm:               0 0.75rem 1.5rem rgba(18,38,63,.03);
$box-shadow:                  0 0 20px 0 rgba(183, 190, 199, 0.15);
$box-shadow-lg:               0 4px 18px rgba(0,0,0,.11);

